{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          <h2 class="d-inline-block m-0">Inicio de Sesión con Certificado</h2>
        </div>
        <div class="card-body">
          <form class="container-fluid" method="post" enctype="multipart/form-data" action="{% url 'cert_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex flex-column align-items-center justify-content-center">
              <button class="btn btn-success mb-3" type="submit">Iniciar Sesión</button>

              <a class="btn btn-primary align-self-start mb-3" href="{% url "login2" %}">Volver</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}