<title>{% block title %}Dashboard{% endblock %}</title>

{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <h1> Dashboard</h1>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Activar autenticación de doble factor</legend>
                <div class="form-group">
                    <a id="enlace" href="/authentication/2fa/{{ user.id }}">Doble factor</a>
                </div>
                <div class="form-group">
                    <a href="/authentication/cuenta">Ver mi perfil</a>
                </div>
            </fieldset>
            <div class="form-group">
                <a id="logout" href="/authentication/logout2/">Logout</a>      
        
            </div> 
            <div>
            
        </form>
         {{mensaje}}
         {{datos}}
    </div>      

  
{% endblock content %}