{% extends "registration/login.html" %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
<h1>Restablecer contraseña</h1>
{% if validlink %}
<p>Por favor ingrese su nueva contraseña dos veces:</p>
<form action="." method="post">
{{ form.as_p }}
{% csrf_token %}
<p><input type="submit" value="Cambiar mi contraseña" /></p>
</form>
{% else %}
<p>El enlace para restablecer la contraseña no era válido, posiblemente porque ya
    haya sido usado. Solicite un nuevo restablecimiento de contraseña.</p>
{% endif %}
{% endblock %}