{% extends 'registration/login.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          <h2 class="d-inline-block m-0">Cambio de Contraseña Periódico</h2>
        </div>
        <div class="card-body">
          <form method="post" action="{% url 'password_change2' %}" class="container-fluid">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Cambiar Contraseña</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
