{% extends "registration/login.html" %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          <h2 class="d-inline-block m-0">Restablecer Contraseña</h2>
        </div>
        <div class="card-body">
          <p>Ingrese su dirección de correo electrónico para obtener una nueva contraseña.</p>
          <form action="." method="post" class="container-fluid">
            {{ form.as_p }}
            <p><input type="submit" class="btn btn-success" value="Enviar"></p>
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
