{% extends "registration/login.html" %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          <h2 class="d-inline-block m-0">Restablecer Contraseña</h2>
        </div>
        <div class="card-body">
          <p>Le hemos enviado por correo electrónico instrucciones para establecer su nueva contraseña.</p>
          <p>Si no recibe el correo electrónico, asegúrese de haber ingresado la dirección con la que se registró.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
