{% extends "registration/login.html" %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          <h2 class="d-inline-block m-0">Restablecer Contraseña</h2>
        </div>
        <div class="card-body">
          {% if validlink %}
            <p>Por favor ingrese su nueva contraseña dos veces:</p>
            <form action="." method="post" class="container-fluid">
              {{ form.as_p }}
              {% csrf_token %}
              <p><input type="submit" class="btn btn-success" value="Cambiar mi contraseña" /></p>
            </form>
          {% else %}
            <p>El enlace para restablecer la contraseña no era válido, posiblemente porque ya haya sido usado. Solicite un nuevo restablecimiento de contraseña.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
