<title>{% block title %}Registro{% endblock %}</title>

{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Crear cuenta</legend>
                {{ form | crispy }}

                    <a href="{% url 'terms_and_conditions' %}" target="_blank">Ver términos y condiciones</a>.

            </fieldset>
            <div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Registrarse</button>
            </div>
        </form>
         {{mensaje}}
         {{datos}}
    </div>             

{% endblock content %}