<title>{% block title %}Registro con Email{% endblock %}</title>

{% load crispy_forms_tags %}
{% block content %}
    
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Crear cuenta con correo electrónico</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Registrarse</button>
            </div>
        </form>
        {{mensaje}}
        {{datos}}
    </div>
{% endblock %}